*{
    margin:0;
    padding:0;
    box-sizing: inherit;;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;/*độ cao chữ 16px*/
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;/*cuộn mượt*/
}

.pd-left-15{
    padding-left: 15px;
}

.pd-right-15{
    padding-right: 15px;
}

/* Header Top */
.header__top{
    background-color: #111111;
    color: #fff;
    height: 46px;
    width: 100%;
    font-size: 1.5rem;
}

.header__top__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
}

.header__top__left{
    padding: 0 15px;
}

.header__top__right{
    padding: 0 25px;
    display: flex;
}

.header__top__right--sign{
    margin-right: 28px;
}

.header__top__right--sign-link{
    color: #fff;
    text-decoration: none; 
    font-size: 13px;
    letter-spacing: 2px;
}

.header__top__right--faqs{
    margin-right: 25px;
}

.header__top__right--faqs-link{
    color: #fff;
    text-decoration: none; 
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.header__top__right--money{
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
}

.header__top__right--money:hover .header__top__right--money-list{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s linear;
}

.header__top__right--money-selected{
    padding-right: 4px;
}

.header__top__right--money-list{
    list-style: none;
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.2s linear; 
}

.header__top__right--money-item{
    color: #111111;
    font-size: 1.3rem;
    margin: 5px 0;
}

/* Header */
.header{
    height: 85px;
}

.header__logo{
    line-height: 85px;
}

.header__navbar--list{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

.header__navbar--item .active{
    border-bottom: 2px solid #e53637;
    width: 100%;
}

.header__navbar--item-link{
    text-decoration: none;
    color: #111111;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 85px;
    position: relative;
}

.header__navbar--item-link::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    border-bottom: 2px solid #e53637;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 0.25s linear;
}

.header__navbar--item:hover  .header__navbar--item-link::before{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: all 0.25s linear;
}

.header__right{
    display: flex;
    float: right;
    line-height:85px;
}

.header__right--search-icon{
    font-size: 1.8rem;
}

.header__right--favorite-icon{
    font-size: 1.8rem;
    padding: 0 30px;
}

.header__right--cart-icon{
    font-size: 2rem;
    padding-right: 10px;
}

.header__right--cart-total{
    font-size: 1.5rem;
    font-weight: 500;
}
